
   body {
     background-color: #f6eec9;
   }
   h1{
     color:#ce0f3d;
   }
   h2{
     color:#ce0f3d;
   }
   hr {

      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 5px;
      width: 5%


   }
